ADAPTER_API_KEY=change-me
ADAPTER_ADMIN_TOKEN=change-admin-token
ADAPTER_SECRET_KEY=
ADAPTER_WEB_USERNAME=admin
ADAPTER_WEB_PASSWORD=change-this-password
ADAPTER_SYNC_INTERVAL_SECONDS=12
ADAPTER_MESSAGE_RETENTION_MINUTES=120
ADAPTER_MAILBOX_RETENTION_HOURS=24
ADAPTER_CLEANUP_INTERVAL_SECONDS=300
